<h4>Manage Users</h4>

<app-loading-animation [isLoading]="isLoading"></app-loading-animation>

<div *ngIf="!isLoading">
  <app-add-user (add)="add($event)" ></app-add-user>

  <div class="line-seperator"></div>

  <table class="bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date Registered</th>
        <th></th>
      </tr>
    </thead>

    <tr *ngFor="let user of users; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
      <!--readonly-->
      <td *ngIf="!user.editing">{{user.name}}</td>
      <td *ngIf="!user.editing">{{user.email}}</td>
      <td *ngIf="!user.editing">{{ user.dateCreated | date:'shortDate'}}</td>
      <!--editing-->
      <td *ngIf="user.editing"><input type="text" class="validate" [(ngModel)]="user.name" name="name" required></td>
      <td *ngIf="user.editing"><input type="text" class="validate" [(ngModel)]="user.email" name="email" required></td>
      <td *ngIf="user.editing"><input type="date" class="validate" [(ngModel)]="user.dateCreated" name="dateCreated" required></td>
      <td *ngIf="user.editing"></td>
      <!--action-->
      <td>
        <a class="btn-floating btn-small blue" [ngClass]="{'disabled': user.isReadOnly }" *ngIf="!user.editing">
          <i class="small material-icons" (click)="edit(user)">mode_edit</i>
        </a>
        <a class="btn-floating btn-small green" *ngIf="user.editing" [attr.disabled]="!(user.name && user.email) ? true : null">
          <i class="small material-icons" (click)="save(user)">done</i>
        </a>
        <a class="btn-floating btn-small red" [ngClass]="{'disabled': user.isReadOnly }">
          <i class="small material-icons" (click)="delete(user)">delete</i>
        </a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class="btn-floating">
        <i class="material-icons" (click)="addNew()">add</i>
      </a>
    </td>
    </tr>
  </table>
</div>