<h4>Manage Users</h4>

<app-loading-animation [isLoading]="isLoading"></app-loading-animation>

<form class="form-inline" *ngIf="!isLoading">
  <label class="sr-only" for="inlineFormInput">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="user" placeholder="Name" name="name" required>
  <label class="sr-only" for="inlineFormInputGroup">Email</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">@</div>
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email" name="email"> </div>
  <input type="button" class="btn btn-success" (click)="add()" [disabled]="!canAdd()" value="Add" />
</form>

<div class="line-seperator"></div>

<table class="table" *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tr *ngFor="let user of users; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td><input type="button" class="btn btn-sm btn-danger" (click)="delete(user)" value="DELETE" /></td>
  </tr>
</table>