  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" [(ngModel)]="user" name="name" required>
          <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="tel" class="validate" [(ngModel)]="email" name="email">
          <label for="icon_email">Email</label>
        </div>
      </div>
      <input type="button" class="btn btn-success z-depth-2" (click)="addUser()" [ngClass]="{'disabled': !canAdd() }" value="Add" />
    </form>
  </div>