/*small screen*/
@media only screen and (max-width: 786px) {
    nav{
        margin-top: 10px;
    }
    nav a{
        text-align: center;
        margin: 5px 5px;
        font-size: 1em;
        display: inline-block;
        width: 100px;
    }
    nav a:hover{
        text-decoration: none;
        background-color: #c3c3c3;
    }
}
/*large screen*/
@media only screen and (min-width: 786px) {
    nav{
        margin-top: 30px;
    }
    nav a{
        text-align: center;
        margin: 5px 5px;
        display: block;
        font-size: 1.5em;
    }
    nav a:hover{
        text-decoration: none;
        background-color: #c3c3c3;
    }
}

